/* Works on Firefox */
* {
  scrollbar-width: thin;
}

.darkModeScrollbar {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.lightModeScrollbar {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid transparent;
}

.darkModeScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
}

.lightModeScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
